* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 200px;
  border: 2px solid black;
}

.box {
  /* flex-basis : 100px; */
  min-width: 200px;
  height: 100px;
  background: lightblue;
  border: 1px solid blue;
}

.box1 { flex: 2; }
.box2 { flex: 1; }
.box3 { flex: 1; }