* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  gap: 10px;
  padding: 10px 10px;
  justify-content: flex-start;
  border: 2px solid black;
}
.card {
  flex: 1 1 300px;
  min-height: 140px;
  border: 2px solid black;
}