.box {
  width: 300px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;
}

.box1 {
  margin-bottom: 40px;
  background: lightblue;
}

.box2 {
  padding-top: 5px;
  margin-top: 40px;
  background: lightgreen;
}

.card {
  margin: 0 auto;
  width: 300px;
}